<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <header class="header" id="header">
        <div class="container">
            <div class="header__inner">
                <div class="logo"><span>M</span>uncak</div>
                <nav class="nav" id="nav">
                    <a class="nav__link" href="#" data-scroll="#intro">Home</a>
                    <a class="nav__link" href="#" data-scroll="#trails">Go Hiking</a>
                    <a class="nav__link" href="#" data-scroll="#tourist">About</a>
                    <a class="nav__link nav__link--log" href="#">Log in</a>
                </nav>
                <button class="burger" id="navToggle">
                    <span class="burger__span" id="burger__span"></span>
                </button>
            </div>
        </div>
    </header>
    <section class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="intro__content">
                    <h1 class="intro__title">Let’s get the top of Mountain</h1>
                    <p class="intro__text">Here is the hiking information you need to decide if it is right for you, and
                        to make it more interesting, enjoyable, and safe.</p>
                    <a class="intro__button" href="#">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <section class="tourist" id="tourist">
        <div class="container">
            <div class="tourist__inner">

                <h2 class="tourist__title">We envision a world where everyone
                    has permanent access to a hiking trail</h2>

                <div class="tourist__cols">
                    <div class="tourist__col">
                        <div class="tourist__column">
                            <img src="img/advocate.png" alt="advocate"></div>
                        <div class="tourist__column tourist__column--empty"></div>
                    </div>
                    <div class="tourist__col">
                        <div class="tourist__column">
                            <div class="tourist__content">
                                <h4 class="tourist__col-title">Advocate</h4>
                                <p class="tourist__col-text">We work with Congress, Federal agencies, and partners on
                                    policy issues and legislation to ensure funding for trails, preservation of natural
                                    areas, and protection of the hiking experience.</p>
                            </div>
                        </div>
                        <div class="tourist__column">
                            <img src="img/volunteer.png" alt="volunteer">
                        </div>
                    </div>
                    <div class="tourist__col">
                        <div class="tourist__column tourist__column--order-2"><img src="img/explore.png" alt="explore"></div>
                        <div class="tourist__column tourist__column--order-1">
                            <div class="tourist__content">
                                <h4 class="tourist__col-title">Volunteer </h4>
                                <p class="tourist__col-text">Trails don't maintain themselves. Individuals of any age
                                    and experience level can become trail stewards. Give back to the trails you love,
                                    meet new people, and enjoy the experience!</p>
                            </div>
                        </div>
                    </div>
                    <div class="tourist__col">
                        <div class="tourist__column">
                            <div class="tourist__content">
                                <h4 class="tourist__col-title">Explore</h4>
                                <p class="tourist__col-text">Feel confident when you set out on your next trail
                                    adventure. Check out our free hiking resources like tips for hiking with families,
                                    gear checklists, finding the best trail for you.</p>
                            </div>
                        </div>
                        <div class="tourist__column tourist__column--link">
                            <a class="tourist__link" href="#">Learn More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="statistics">
        <div class="container">
            <div class="statistics__inner">
                <h2 class="statistics__title">With the support of our members, and partners, we've improved trail access
                    for millions of people</h2>
                <div class="statistics__cols">
                    <div class="statistics__col">
                        <p class="statistics__text">We’ve Mobilized</p>
                        <p class="statistics__quantity">558,768</p>
                        <p class="statistics__text">Trail Volunteers</p>
                    </div>
                    <div class="statistics__col">
                        <p class="statistics__text">We’ve Facilitated</p>
                        <p class="statistics__quantity">41,146</p>
                        <p class="statistics__text">Miles of Trail Maintenance & Construction</p>
                    </div>
                    <div class="statistics__col">
                        <p class="statistics__text">Volunteers Have Contributed</p>
                        <p class="statistics__quantity">$108 Million</p>
                        <p class="statistics__text">in Volunteer Labor</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="trails" id="trails">
        <div class="container">
            <div class="trails__inner">
                <div class="trails__title">Protecting Trails: Current News and Issues</div>

                <div class="trails__cols">
                    <div class="trails__col">
                        <div class="trails__img"><img src="img/trail_1.png" alt="2800miles"></div>
                        <div class="trails__content">
                            <h4 class="trails__content-title">2,802 Miles of Trail to be Improved on International
                                Trails Day</h4>
                            <p class="trails__content-text">On June 2, 2018, people across the worldwill come together
                                to collectively improve 2,802 miles of trail—the distance across the world—during
                                International Trails Day. Muncak invites hikers, cyclists,…</p>
                            <a class="trails__content-link" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="trails__col">
                        <div class="trails__img"><img src="img/trail_2.png" alt="bycycle"></div>
                        <div class="trails__content">
                            <h4 class="trails__content-title">Four Ways to Celebrate International Trails Day on a
                                Bicycle</h4>
                            <p class="trails__content-text">There are many ways to celebrate the International Trails
                                Day on June 2. It’s even possible to participate on a bicycle. And if you go on a bike
                                overnight trip during International Trails Dayyou will simultaneously…</p>
                            <a class="trails__content-link" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="trails__col">
                        <div class="trails__img"><img src="img/trail_3.png" alt="millennials"></div>
                        <div class="trails__content">
                            <h4 class="trails__content-title">Millennials are the Future of our Trails</h4>
                            <p class="trails__content-text">The smell of fresh dew is a welcome scent, as the crunch of
                                my boots melds with the sound of the birds singing their morning song. It’s early and I
                                am wearing layers, but it won’t be long until they are peeled away to adapt to the
                                summer…
                            </p>
                            <a class="trails__content-link" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="form">
        <div class="container">
            <div class="form__inner">
                <h2 class="form__title">Receive the latest updates on how to protect trails.
                    Subscribe to the monthly edition of Paperless Trails.</h2>
                <form action="/" method="post" class="form">
                    <input class="form__input" type="text" placeholder="Name">
                    <input class="form__input" type="email" placeholder="Email Address">
                    <input class="form__submit" type="submit">
                </form>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__cols">
                    <div class="fo0ter__col">
                        <h4 class="footer__title">contact us</h4>
                        <div class="footer__text">
                            <p>Muncak hiking society</p>
                            <p>8605 Second Ave.</p>
                            <p>Silver Spring, MD 20910</p>

                            </div>
                        <div class="footer__text">
                            <p>Info@muncak.org</p>
                            <p>1-301-565-6704 (Main)</p>
                            <p>1-800-972-8608 (Toll-free)</p>
                        </div>
                    </div>
                    <div class="footer__col">
                        <h4 class="footer__title">about us</h4>
                        <a class="footer__link" href="#">Our Mission</a>
                        <a class="footer__link" href="#">Our Team</a>
                        <a class="footer__link" href="#">Corporate Sponsors</a>
                        <a class="footer__link" href="#">Financials</a>
                        <a class="footer__link" href="#">Media Center</a>
                    </div>
                    <div class="footer__col">
                        <h4 class="footer__title">our programs</h4>
                        <a class="footer__link" href="#">Hike The Hill</a>
                        <a class="footer__link" href="#">Volunteer Vacations</a>
                        <a class="footer__link" href="#">Alternative Break</a>
                    </div>
                    <div class="footer__col">
                        <h4 class="footer__title">support trails</h4>
                        <a class="footer__link" href="#">Donate</a>
                        <a class="footer__link" href="#">Individual Membership</a>
                        <a class="footer__link" href="#">Gift membership</a>
                        <a class="footer__link" href="#">Hiker Store</a>
                    </div>
                    <div class="footer__col">
                        <h4 class="footer__title">hiking resources</h4>
                        <a class="footer__link" href="#">Hikes Near You</a>
                        <a class="footer__link" href="#">Hiking 101</a>
                        <a class="footer__link" href="#">Muncak Blog</a>
                        <a class="footer__link" href="#">Hiking Organizations</a>
                    </div>
                </div>
                <div class="footer__social">
                    <a class="footer__social-link" href="#"><img src="img/instagram-logo.svg" alt="instagram"></a>
                    <a class="footer__social-link" href="#"><img src="img/facebook-logo.svg" alt="facebook"></a>
                    <a class="footer__social-link" href="#"><img src="img/twitter.svg" alt="twitter"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/app.js"></script>
</body>

</html>