body{
    font-family: 'Mada', sans-serif;
    font-size: 14px;
    color: $Dblue;
    overflow-x: hidden;
}
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1445px;
    padding: 0  15px;
    margin: 0 auto;
}
.title{
    position: relative;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;
    text-align: center;
    color: $Dblue;
    &:after{
        content:'';
        position: absolute;
        bottom: -17px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100px;
        height: 5px;
        background: $Dblue;
    }
}