<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Uranos</title>
</head>

<body>
    <div class="wrapper">
        <header class="header" id="header">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                        <a class="logo__link" href="#">uranos</a>
                    </div>
                    <nav class="nav" id="nav">
                        <a class="nav__link" id="link1" href="#" data-scroll="#intro">home</a>
                        <a class="nav__link" id="link2" href="#" data-scroll="#app">about us</a>
                        <a class="nav__link" id="link3" href="#" data-scroll="#meet">our team</a>
                        <a class="nav__link" id="link4" href="#" data-scroll="#meet">portfolio</a>
                        <a class="nav__link" id="link5" href="#" data-scroll="#footer">contact</a>
                    </nav>

                    <button class="burger" id="navToggle">
                        <span class="burger__span" id="burger__span"></span>
                    </button>
                </div>
            </div>
        </header>
        <!-- header -->
        <section class="intro" id="intro">
            <div class="container">
                <div class="intro__inner">
                    <div class="intro__header">
                        <h1 class="intro__title">Discover the wold of awsome</h1>
                        <h2 class="intro__subtitle">free PSD templates</h2>
                    </div>
                    <form action="/" class="intro__form">
                        <input class="intro__input" type="email" placeholder="email">
                        <input class="intro__input" type="password" placeholder="passwor">
                        <button class="intro__button">register</button>
                    </form>
                </div>

            </div>
        </section>
        <!-- intro -->
        <div class="services" id="services">
            <div class="container">
                <div class="services__inner">
                    <div class="services__img">
                        <img src="img/iphone.png" alt="phone">
                    </div>

                    <div class="services__col">
                        <div class="services__item">
                            <div class="services__head">
                                <img src="img/print.png" alt="print">
                                <h3 class="services__title">Print services</h3>
                            </div>
                            <div class="services__text">
                                Fusce eu tortor tristique, varius sem sollicitudin, viverra ante. Curabitur id metus
                                velit.
                                Suspendisse in justo nulla.
                            </div>
                        </div>
                        <div class="services__item">
                            <div class="services__head">
                                <img src="img/monitor.png" alt="print">
                                <h3 class="services__title">IT services</h3>
                            </div>
                            <div class="services__text">
                                Fusce eu tortor tristique, varius sem sollicitudin, viverra ante. Curabitur id metus
                                velit.
                                Suspendisse in justo nulla.
                            </div>
                        </div>
                    </div>
                    <!--services__col-->
                    <div class="services__col">
                        <div class="services__item">
                            <div class="services__head">
                                <img src="img/phone.png" alt="print">
                                <h3 class="services__title">Mobile devices</h3>
                            </div>
                            <div class="services__text">
                                Fusce eu tortor tristique, varius sem sollicitudin, viverra ante. Curabitur id metus
                                velit.
                                Suspendisse in justo nulla.
                            </div>
                        </div>
                        <div class="services__item">
                            <div class="services__head">
                                <img src="img/ruler.png" alt="print">
                                <h3 class="services__title">Print services</h3>
                            </div>
                            <div class="services__text">
                                Fusce eu tortor tristique, varius sem sollicitudin, viverra ante. Curabitur id metus
                                velit.
                                Suspendisse in justo nulla.
                            </div>
                        </div>
                    </div>
                    <!--services__col-->

                </div>
                <!--services__inner-->
            </div>
        </div>
        <!--services-->
        <section class="meet" id="meet">
            <div class="container">
                <div class="meet__inner">

                    <div class="head">
                        <h2 class="head__title">Meet our team</h2>
                        <h3 class="head__subtitle">We make this APP!</h3>
                    </div>

                    <div class="teammates">
                        <div class="teammate">
                            <img class="teammate__img" src="img/teammate-1.png" alt="teammate">
                            <h4 class="teammate__name">Lorem ipsum</h4>
                            <p class="teammate__text">Cras vel eleifend nisl, ac efficitur purus. Vestibulum vestibulum
                                aliquam lectusmattis ac.</p>
                        </div>
                        <div class="teammate">
                            <img class="teammate__img" src="img/teammate-2.png" alt="teammate">
                            <h4 class="teammate__name">Aenean eget</h4>
                            <p class="teammate__text">Cras vel eleifend nisl, ac efficitur purus. Vestibulum vestibulum
                                aliquam lectusmattis ac.</p>
                        </div>
                        <div class="teammate">
                            <img class="teammate__img" src="img/teammate-3.png" alt="teammate">
                            <h4 class="teammate__name">Nulla felis quam</h4>
                            <p class="teammate__text">Cras vel eleifend nisl, ac efficitur purus. Vestibulum vestibulum
                                aliquam lectusmattis ac.</p>
                        </div>
                        <div class="teammate">
                            <img class="teammate__img" src="img/teammate-4.png" alt="teammate">
                            <h4 class="teammate__name">Mauris</h4>
                            <p class="teammate__text">Cras vel eleifend nisl, ac efficitur purus. Vestibulum vestibulum
                                aliquam lectusmattis ac.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.meet -->
        <section class="app" id="app">
            <div class="app__head">
                <div class="container">
                    <h3 class="app__title">This is awsome APP</h3>
                    <p class="app__text">Nam accumsan nunc sit amet elementum sollicitudin. Integer vel lacus eget
                        tortor lobortis tincidunt sed eu dolor. Phasellus cursus augue ac pulvinar cursus.</p>
                </div>
            </div>
            <div class="app__description">
                <div class="container">
                    <h3 class="app__title">This is awsome APP</h3>
                    <p class="app__text">Nam accumsan nunc sit amet elementum sollicitudin. Integer vel lacus eget
                        tortor lobortis tincidunt sed eu dolor. Phasellus cursus augue ac pulvinar cursus.
                    </p>
                    <p class="app__text">Quisque ut erat ornare, feugiat turpis a, fringilla felis. Nulla molestie lorem
                        et orci
                        sagittis, et accumsan ex porta.</p>

                    <a class="app__link" href="#">download now</a>
                </div>
            </div>
            <div class="container container--relative">
                <img class="macbook" src="img/macbook.png" alt="MacBook">
            </div>
        </section>
        <!-- /.app -->
        <section class="haw-works" id="haw-works">
            <div class="container">
                <div class="haw-works__inner">
                    <div class="head">
                        <h2 class="head__title head__title--white">Haw our app works?</h2>
                        <h3 class="head__subtitle head__subtitle--white">We make this APP!</h3>
                    </div>

                    <div class="haw-works__items">
                        <div class="haw-works__item">
                            <img class="haw-works__img" src="img/haw-works-1.png" alt="teammate">
                            <h4 class="haw-works__title">Lorem ipsum</h4>
                            <p class="haw-works__text">Cras vel eleifend nisl, ac efficitur purus. Vestibulum vestibulum
                                aliquam lectusmattis ac.</p>
                        </div>
                        <div class="haw-works__item">
                            <img class="haw-works__img" src="img/haw-works-2.png" alt="teammate">
                            <h4 class="haw-works__title">Aenean eget</h4>
                            <p class="haw-works__text">Cras vel eleifend nisl, ac efficitur purus. Vestibulum vestibulum
                                aliquam lectusmattis ac.</p>
                        </div>
                        <div class="haw-works__item">
                            <img class="haw-works__img" src="img/haw-works-3.png" alt="teammate">
                            <h4 class="haw-works__title">Nulla felis quam</h4>
                            <p class="haw-works__text">Cras vel eleifend nisl, ac efficitur purus. Vestibulum vestibulum
                                aliquam lectusmattis ac.</p>
                        </div>
                        <div class="haw-works__item">
                            <img class="haw-works__img" src="img/haw-works-4.png" alt="teammate">
                            <h4 class="haw-works__title">Mauris</h4>
                            <p class="haw-works__text">Cras vel eleifend nisl, ac efficitur purus. Vestibulum vestibulum
                                aliquam lectusmattis ac.</p>
                        </div>
                    </div>

                    <p class="text-center"><a class="haw-works__link" href="#">download now</a></p>
                </div>
            </div>
        </section>
        <footer class="footer" id="footer">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__imets">
                        <div class="footer__item">
                            <a href="#">dolor</a>
                            <a href="#">amet</a>
                            <a href="#">Veritatis</a>
                            <a href="#">asperiores</a>
                            <a href="#">atque</a>
                            <a href="#">debitis</a>
                            <a href="#">Exercitationem</a>
                            <a href="#">consectetur</a>
                        </div>
                        <div class="footer__item">
                            <a href="#">mollitia</a>
                            <a href="#">debitis</a>
                            <a href="#">mod</a>
                            <a href="#">maxime</a>
                            <a href="#">mollitia</a>
                            <a href="#">libero</a>
                            <a href="#">sit</a>
                            <a href="#">debitis</a>
                            <a href="#">ullam</a>
                            <a href="#">facere</a>
                        </div>
                        <div class="footer__item">
                            <a href="#">facere</a>
                            <a href="#">debitis</a>
                            <a href="#">eos</a>
                            <a href="#">Saepe</a>
                            <a href="#">maxime</a>
                            <a href="#">dignissimos</a>
                            <a href="#">debitis</a>
                            <a href="#">sequi</a>
                            <a href="#">mod</a>
                        </div>
                        <div class="footer__item">
                            <a href="#">dolor</a>
                            <a href="#">amet</a>
                            <a href="#">Veritatis</a>
                            <a href="#">asperiores</a>
                            <a href="#">atque</a>
                            <a href="#">debitis</a>
                            <a href="#">Exercitationem</a>
                        </div>
                    </div>
                    <p class="footer__copy">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus.
                        Try awsome tool for desgners <b>symu.co</b></p>
                </div>
        </footer>
    </div>
    <script src="js/app.js" ></script>
</body>

</html>