// @import "../../node_modules/slick-carousel/slick/slick";
@import "vars";
@import "libs";
@import "fonts";
@import "global";

/****************** header *****************/
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    padding: 10px 0;
    background: rgba($black, .5);
    z-index: 99;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        a {
            img {
                width: 175px;
                height: 75px;
            }
        }
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__basket {
        position: relative;
        margin-left: 30px;

        button {
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
        }

        img {
            width: 60px;
            height: 45px;
        }

        span {
            position: absolute;
            bottom: -4px;
            right: 0;

            background: #000;
            border-radius: 50%;

            display: block;
            padding: 2px 6px;
            font-size: 13px;
            color: #fff;
            font-weight: bold;
        }
    }

}

.header__burger {
    display: none;
}

.basket {
    width: 100%;
    max-width: 350px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    background: $black;
    z-index: 9999;
    transition: right .5s;

    &.active {
        right: 0;
    }

    &-head {
        padding: 0 30px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-close {
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        cursor: pointer;

        img {
            display: block;
            max-width: 100%;
        }
    }
}

.nav {
    display: flex;
    align-items: center;

    &__link {
        position: relative;
        margin: 0 20px;

        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 50%;
            right: 0;

            height: 2px;
            width: 0%;
            background: $red;
            transition: width linear .3s, left linear .3s;
        }

        &:hover:after {
            left: 0;
            width: 100%;
        }

        &.active:after {
            left: 0;
            width: 100%;
        }
    }
}


/****************** home / intro *****************/

.intro {
    background: url(../img/home_bg.jpg) no-repeat center / cover;
    min-height: 100vh;
    padding-top: 350px;
    text-align: center;

    &__title {
        text-align: center;
        font-size: 90px;
        text-transform: uppercase;
    }

    &__subtitle {
        text-align: center;
        font-size: 44px;
        text-transform: uppercase;
        font-weight: 400;
    }

    &__link {
        margin-top: 30px;
        padding: 10px 30px;

        text-transform: uppercase;
        font-size: 24px;
        color: #fff;
        display: inline-block;
        text-decoration: none;

        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;

        transition: all .5s;

        &:hover {
            background: #FFFFFF;
            box-shadow: 5px 5px 30px rgba($black, 0.25);

            color: $black;
        }
    }
}

/****************** menu *****************/

.menu {
    padding: 100px 0 80px;
    min-height: 100vh;
    background: $black;
}

.categories {
    position: relative;
    display: flex;
    justify-content: center;

    &__category {
        padding: 14px 25px;
        border: 2px solid transparent;
        border-radius: 45px 0;

        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        transition: color .2s linear;

        &:hover:not(.active) {
            color: $red;
        }

        &.active {
            border-color: $red;
            border-radius: 45px 0;
        }
    }
}

.catalog {
    margin-top: 30px;
    display: none;

    &.active {
        display: block;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        position: relative;
        margin: 0 30px 30px;
        max-width: 250px;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 2px;
            height: 80px;
            background: #fff;
            position: absolute;
            bottom: 45px;
        }

        &:before {
            left: -1px;
        }

        &:after {
            right: -1px;
        }
    }

    &__item-img {
        max-width: 250px;
        max-height: 190px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__item-title {
        margin-top: 10px;

        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    &__item-data {
        padding: 0 30px;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-data__price {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    &__item-data__add {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        img {
            width: 25px;
            height: 25px;
            opacity: .5;
            transition: opacity .2s linear;
        }

        &:hover img {
            opacity: 1;
        }
    }

    &__pages {
        display: flex;
        justify-content: center;
    }

    &__page {
        position: relative;
        margin: 0 4px;
        padding: 5px;

        font-size: 18px;
        text-decoration: none;
        color: #fff;

        &.active:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: $red;

            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}

/****************** delivery *****************/
.delivery__features {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.delivery__box {
    max-width: 440px;
    margin-bottom: 45px;

    &-title {
        position: relative;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 30px;

        &::before {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 0;
            display: block;
            width: 100%;
            height: 4px;
            background: $red;
        }
    }

    &-text {
        font-size: 18px;

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/****************** contacts *****************/
.contacts__features {
    display: flex;
    justify-content: space-between;
}

.contacts__box {
    &-title {
        text-transform: uppercase;
        font-size: 24px;
        margin: 30px 0 10px;
    }

    &-text {
        padding-left: 30px;
        font-size: 18px;

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-map {
        padding-left: 30px;
        margin-top: 30px;
        #gmap_canvas{
            width: 575px;
            height: 310px;
        }
    }
}



/****************** about *****************/
.about__content {
    display: flex;
    justify-content: space-between;
}

.about__descr {
    max-width: 65%;

    &-title {
        text-transform: uppercase;
        font-size: 24px;
        margin: 30px 0 60px;
    }

    &-text {
        font-size: 18px;
    }

    &-founder {
        margin: 15px 0;
        font-size: 20px;
        font-weight: bold;
    }
}

.about__img {
    position: relative;
    width: 30%;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba($black, .25);
    }

    img {
        display: block;
        max-width: 100%;

    }
}


/****************** footer *****************/



.footer {
    padding: 0 0 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;

    font-size: 14px;
    color: $gray;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__author {
        a {
            color: $gray;
            text-decoration: underline;
        }
    }
}

@import "media";